*{margin: 0;padding:0;}

.construction-bdy{
    width:50%;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.construction-bdy video{
    width:100%;
    height: auto;
}

.construction-bdy p {
    font-family: Helvetica;
    letter-spacing: 2px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}

.construction-bdy p a{ letter-spacing: normal; text-transform: capitalize; }

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .construction-bdy{width:99%;}
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    .construction-bdy{width:99%;}
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    .construction-bdy{width:99%;}
}